%h1= @ask.title
%p= @ask.description
%p
Submitted by
= @ask.user.id

= link_to "Back", root_path
= link_to "Edit", edit_ask_path
= link_to "Delete", ask_path, method: :delete, data: { confirm: "Are you sure?"}